:root {
  --purple: #5b1fc7;
  --cyan: #16d3cb;
  --cyan-hover: #0fbbb4;
  --red: #ef4b57;
}

/* Layout */
.profile-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.profile-card {
  width: 420px;
  padding: 30px;
  border-radius: 20px;
  background: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Avatar */
.profile-avatar-wrap {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(253, 253, 253, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 70px;
}

.profile-name {
  color: white;
  margin: 20px 0;
  font-weight: bold;
}

/* Form */
.profile-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-field label {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

/* INPUT + ÍCONE */
.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper input {
  width: 100%;
  height: 35px;
  border-radius: 999px;
  border: none;
  padding: 0 40px 0 15px;
  font-weight: bold;
}

/* Ícone dentro do input */
.edit-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

.input-wrapper:hover .edit-icon {
  opacity: 1;
}

/* Botões */
.profile-actions {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.confirm {
  background: var(--cyan);
}

.confirm:hover {
  background: var(--cyan-hover);
}

.logout {
  background: var(--red);
  color: white;
}